@import "colors";

* {
  all: unset;
}

.bar {
  font-family: Recursive;
  font-weight: 800;
  color: $text;
  background-color: $bgt;
  font-size: 24px;
  border-radius: 56px;
  padding: 8px 16px;
}

.desktop_active {
  color: $mauve;
}

.desktop_inactive {
  color: $text;
}

.desktop_unused {
  color: $subtext0;
}

.circular-progress {
  background-color: $surface0;
}

.circular-progress-label {
  font-size: 14px;
  padding: 6px;
}

.metric-label {
  font-size: 32px;
  margin: -8px 0;
}
